<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.grade.mapper.ScoreMapper">
    <resultMap id="attendanceMap" type="org.choongang.attendance.entities.SelectAttendance">
        <result column="TODAY" property="today" />
        <result column="CLASS_ID" property="classId" />
        <result column="STUDENT_NO" property="studentNo" />
        <result column="ATTENDANCE_DATE" property="attendanceDate" />
        <result column="ATTENDANCE_STATUS" property="attendanceStatus" />
    </resultMap>


    <select id="selectAttendance" resultType="">
        SELECT * FROM ATTENDANCE
    </select>


    <insert id="insertAttendance" parameterType="RequestInsertAttendance">
        INSERT INTO ATTENDANCE (STUDENT_NO, CLASS_ID, TODAY, ATTENDANCE_DATE, ATTENDANCE_STATUS)
        VALUES ((#{studentNo}, #{classId}, #{today}, #{attendanceDate}, #{attendanceStatus})
    </insert>
</mapper>