<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.student.mapper.StudentMapper">
    <resultMap id="memberMap" type="org.choongang.student.entities.Student">
        <result column="STUDENT_NO" property="studentNo" />
        <result column="STUDENT_NM" property="studentNm" />
        <result column="MOBILE" property="mobile" />
        <result column="CLASS_ID" property="classId" />
    </resultMap>

    <!-- 학생 전체 목록 조회 -->
    <select id="getList" resultMap="StudentMap">
        <bind name="pStudentNo" value="'%' + _parameter.getStudentNo() + '%'" />
        <bind name="pStudentNm" value="'%' + _parameter.getStudentNm() + '%'" />
        <bind name="pClassId" value="'%' + _parameter.getClassId() + '%'" />
        SELECT * FROM (SELECT ROWNUM NUM, t.* FROM STUDENT t) m
        <where>
            <![CDATA[m.NUM >= {sRow} AND m.NUM <= {eRow}]]>
            <if test="studentNo != null">
                AND STUDENT_NO LIKE #{pStudentNo}
            </if>
            <if test="studentNm != null">
                AND STUDENT_NM LIKE #{pStudentNm}
            </if>
            <if test="classId != null">
                AND CONCAT(STUDENT_NO, STUDENT_NM) LIKE #{pClassId}
            </if>
        </where>
        ORDER BY mobile DESC
    </select>

    <!-- 학생 개별 조회 -->
    <select id="get" resultMap="studentMap">
        SELECT * FROM STUDENT
        <where>
            <if test="studentNo != null">
                STUDENT_NO=#{studentNo}
            </if>
        </where>
    </select>

    <!-- 학생 목록 갯수, 페이징 구현시 활용 가능 -->
    <select id="getTotal" resultType="long">
        <bind name="pStudentNo" value="'%' + _parameter.getStudentNo() + '%'" />
        <bind name="pStudentNm" value="'%' + _parameter.getStudentNm() + '%'" />
        <bind name="pClassId" value="'%' + _parameter.getClassId() + '%'" />
        SELECT COUNT(*) FROM STUDENT
        <where>
            <if test="studentNo != null">
                AND STUDENT_NO LIKE #{pStudentNo}
            </if>
            <if test="studentNm != null">
                AND STUDENT_NM LIKE #{pStudentNm}
            </if>
            <if test="classId != null">
                AND CONCAT(STUDENT_NO, STUDENT_NM) LIKE #{pClassId}
            </if>
        </where>
    </select>

    <!-- 학생 등록 여부 파악 - 갯수가 나오면 이미 등록으로 판단 -->
    <select id="exist" resultType="int">
        SELECT COUNT(*) FROM STUDENT WHERE STUDENT_NO=#{studentNo}
    </select>

    <!-- 학생 등록 -->
    <insert id="register">
        <selectKey keyProperty="studentNo" order="BEFORE" resultType="long">
            SELECT SEQ_STUDENT.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO STUDENT (STUDENT_NO, STUDENT_NM, MOBILE, CLASS_ID)
        VALUES (#{studentNo}, #{studentNm}, #{mobile}, #{classId})
    </insert>
</mapper>